

.main{width:766px; margin:0 auto; text-align:left;}

/*=========page_1===========*/
#page_1 .col_1{width:426px;}
#page_1 .mid{width:31px;}
#page_1 .col_2{width:210px;}
/*========//page_1===========*/

/*=========page_2===========*/
#page_2 .col_1{width:426px;}
#page_2 .mid{width:43px;}
#page_2 .col_2{width:186px;}
/*========//page_2===========*/

/*=========page_3===========*/
#page_3 .col_1{width:426px;}
#page_3 .mid{width:43px;}
#page_3 .col_2{width:186px;}
/*========//page_3===========*/

/*=========page_4==========*/
#page_4 .col_1{width:426px;}
#page_4 .mid{width:43px;}
#page_4 .col_2{width:186px;}
/*========//page_4===========*/

/*=========page_5==========*/
#page_5 .col_1{width:426px;}
#page_5 .mid{width:43px;}
#page_5 .col_2{width:186px;}
/*========//page_5===========*/
