<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /WikiMedia/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /WikiMedia/index.php [L]
</IfModule>